*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
/app/build
/app/release
*.jks
*.keystore
.env
/test-ipa
/build-manual/classes/
/build-manual/dex/
/build-manual/apk/
/build-manual/res-compiled/
/build-manual/gen/
*.idsig
